/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

* {
  font-family: FontAwesome;
}

body {
  position:relative;
}

.inner-sec-shop {
  position: relative;
}

.filter__button {
  position: absolute;
  right: 5rem;
  top: 0;
  cursor: pointer;

  z-index: 10;
}

.filter__checkbox {
  display: none;
}

.filter__dropdown {
  height: 0;
  position: absolute;
  right: 5rem;
  top: 3rem;
  background-color: #fff;
  transition: all 0.5s;
  overflow: scroll;
  list-style: none;
  width: 20rem;
  z-index: 10;
}

#filter-toggle:checked + .filter__dropdown {
  background-color: #fff;
  height: 20rem;
  box-shadow: 0 2px 4px;
}

.filter__dropdown li {
  padding: 1rem;
  transition: all 0.5s;
  color: black
}

.filter__dropdown li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.filter__icon{
  font-size: 2rem;
}

.flash__message {
  width: 50rem;
  height: 3rem;
  top: 5rem;
  right: 5rem;
  background-color: red;
  color: white;
  z-index: 100;
}


#products_admin {
  display: flex;
  flex-wrap: wrap;
}
